@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;	/* for Safari on iPhone */
	width: 100vw;
	background: #4c566a;
	color: white;
	font-family: 'Source Code Pro', monospace;
	display: flex;
	flex-direction: column;
	place-content: space-between;
	place-items: center start;
}

a {
	color: #ffffff;
}

p {
	font-size: 20px;
}

.main {
	flex-grow: 1;
	display: grid;
	place-items: center;
	width: 100%;
}

.terminal-container {
	display: flex;
	gap: 32px;
}

.terminal-window {
	background: #2e3440;
	width: 80%;
	border-radius: 10px;

	padding: 15px;
}

.buttons {
	display: flex;
	gap: 5px;
	margin-bottom: 5px;
}

.close {
	background: #FF6057;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.minimize {
	background: #FFBD2E;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.full {
	background: #27C93F;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.icon {
	height: 150px;
	width:  150px;
	border-radius: 100%;
}

.banners {
	display: flex;
	gap: 8px;
}

.banner {
	width: 125px;
}
